* {
	margin: 0;
	padding: 0;
	font-family: calibri, arial, helvetica;
}

h1 {
	margin-left: 20px;
}

h2 {
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 20px;
}

input, button, select {
	font-size: 16px;
	height: 25px;
}

#recherche, #actions {
	margin-left: 20px;
	font-size: 18px;
}

#recherche input, #recherche button {
	width: 100px;
}

#recherche select {
	width: 170px;
}

#actions button {
	width: 150px;
}

#actions select {
	width: 300px;
}

#tableau {
	margin-left: 20px;
	margin-top: 40px;
	width: 1050px;
	height: calc(100% - 350px);
	overflow: auto;
	height: calc(100% - 350px);
}

#tableau table {
	font-size: 18px;
}

#tableau table thead th {
	width: 200px;
	background-color: #000;
	color: #fff;
}

#tableau table tbody tr:nth-child(even) {
	background-color: #ccc;
}

#tableau table tbody tr:nth-child(odd) {
	background-color: #eee;
}

#tableau table tbody td:nth-of-type(3n), #tableau table tbody td:nth-of-type(4n),
	#tableau table tbody td:nth-of-type(5n) {
	text-align: center;
}